/[Ll]ibrary/
/Logs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Recordings/
/.vscode/
/.vs/


ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta

sysinfo.txt

*.apk
*.unitypackage
/Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/EditorUserSettings.asset
/Assets/Plugins/Easy Save 3/Resources/ES3/ES3GlobalReferences.asset
/UserSettings/EditorUserSettings.asset
